<!--views/events/index.ejs-->
<% include ../header %>

<div class="row">
  <div class="large-9 columns">
    
    <h1><%= event.name.text %></h1>
  
  </div>
</div>

<!-- <div class="row">
  <div class="large-9 columns">
    
    <img src="img/e122.jpg" alt="" />
  
  </div>
</div> -->

<div class="row">
  <div class="large-9 columns">
    
    <h2>Event Details</h2>
    
    <div class="panel callout">
      <%= event.description.text %>
    </div>

    <div class="panel">
      <p>
        date: <%= event.start.local %> to <%= event.end.local %> <br>
        <em>how I would like to to look </em><br>
        Saturday April 18, 2015 <br>
        2:00 PM - 4:30 PM
      </p> 
    </div>
    
    <div class="panel">
      <a href="https://www.meriwethersnw.com/contact-hours">
        <b><%= event.venue.name %></b>
      </a><br>
      <%= event.venue.address.address_1 %> <br>
      <%= event.venue.address.city %>, 
      <%= event.venue.address.region %> 
      <%= event.venue.address.postal_code %> <br>
      telephone: (503) 228-1250
    </div>

    <div>
      <a href="/rsvp"><button class="expand">RSVP</button></a>
    </div>

    <div>
      <a href="https://www.google.com/maps/dir/'current location'/meriwether's+restaurant+portland/data=!4m5!4m4!1m0!1m2!1m1!1s0x549509e62b5ac591:0x97449a9cccde7661?sa=X&ei=GvONVJKmIsfroASixoCAAw&ved=0CJEBEPUXMA0" target="_blank"><button class="expand">Directions</button></a>
    </div>
  
  </div>
</div>

<% include ../footer %>