<!-- views/album.ejs taken from node-gallery module -->
<% include ./layouts/header2 %>

<div class="row">
  <div class="small-12 columns">
    <h1>MEMORY GALLERY</h1>
  </div>
</div>

<div class="row panel callout">
  <div class="small-12 columns">

    <p>
      Below are some pictures from various times in Harriet’s life. Feel free to comment on any of the pictures, or contact Aurelia to add additional pictures.
    </p>
    <p>
      <a href="mailto:aurelia@powerfullatinas">Aurelia@powerfullatinas.com</a>
    </p>
  
  </div>
</div>


<!-- gallery posts -->
<div class="row">
  <div class="small-12 columns">
    

    <!-- setup breadcrumbs -->
    <% if (!album.isRoot){ %>
      <ul class="breadcrumbs">
      <% for (var i=0; i<breadcrumb.length; i++) { %>
        <% if (i==breadcrumb.length-1){ %>
          <li><%= breadcrumb[i].name %></li>
          </ul>

        <% }else{ %>
          <li>
            <a href="<%= breadcrumb[i].url %>"> 
              <%= breadcrumb[i].name %> 
            </a>
          </li>

        <% } %>
      <% } %>
    <% } %>
    <!-- finish breadcrumbs  -->
  </div>
</div>
    
<div class="row">
  <div class="small-12 columns">


    <!-- if there are any albums, then loop through and style...  -->
    <% if (album.albums.length>0){ %>
      <h2 class="subheader text-center"><strong>Albums</strong></h2>
      <div class="row" >
      <div class="small-10 small-centered columns" >
      
      <ul class="small-block-grid-1">
        
        <% album.albums.forEach(function(album){ %>
          <li>
            <p><h3 class="subheader text-center"><em><%= album.prettyName %></em></h3></p>
            <a class="th [radius]" href="<%= rootDir%>/<%= album.path%>">
              <img src="/<%= directory %>/<%= album.thumb %>&tn=1" alt="<%= album.prettyName %>" >
            </a>

            <!-- put a description in a row if there is a description -->
            <% if (album.description){ %>
              <div class="row">
                <div class="small-12 columns">
                  <div class="panel">
                    <%- album.description %>
                  </div>
                </div>
              </div>  
            <% } %>

          </li>
          <p></p>
        <% }) %>

      </ul>
      </div>
      </div>
    <% } %>
    <!-- finish looping albums -->
    



    <!-- if there are any photos, then loop through and style...  -->
    <% if (album.photos.length>0){ %>
      <hr>
      <h2 class="subheader text-center"><strong>Photos</strong></h2>
      <div class="row" >
      <div class="small-10 small-centered columns" >
      
      <ul class="small-block-grid-1">
        
        <!-- loop photos and style -->
        <% album.photos.forEach(function(photo){ %>
          <li>
            <a class="th [radius]" href="<%=rootDir %><%= photo.path %>">
              <img src="/<%= directory %>/<%= photo.path %>&tn=1" alt="<%= photo.name%>"><p><h4 class="subheader text-center"><%= photo.name%></h4></p>
            </a>
          </li>
        <% }) %>
      
      </ul>
      </div>
      </div>
    <% } %>
    <!-- stop looping photos -->
  
  </div>
</div>

<% include ./layouts/footer %>