<!-- views/photo.ejs taken from node-gallery module -->
<% include ./layouts/header2 %>

<div class="row">
  <div class="small-12 columns">
    <h1>GALLERY</h1>
  </div>
</div>

<!-- gallery posts -->
<div class="row">
  <div class="small-12 columns">

  <!-- setup breadcrumbs -->
  <ul class="breadcrumbs">
  <% for (var i=0; i<breadcrumb.length; i++) { %>
    
    
    <% if (i==breadcrumb.length-1){ %>
      <li><%= breadcrumb[i].name %></li>
      </ul>

    <% }else{ %>
      <li>
        <a href="<%= breadcrumb[i].url %>"> 
          <%= breadcrumb[i].name %> &raquo; 
        </a>
      </li>

    <% } %>
  <% } %>

  <!-- finish breadcrumbs  -->
  


  <!-- photo style -->
  <ul class="small-block-grid-1">
    
    <li>
      <img src="/<%= directory %>/<%= photo.path %>" alt="<%= photo.name%>"><p><h4 class="subheader text-center"><%= photo.name%></h4></p>
    </li>
  
  </ul>

  <% if (photo.exif && photo.exif.Description){ %>
    <div class="row">
      <div class="panel"><%= photo.exif.Description%></div>      
    </div>
  <% }else{ %>
    <div class="row">
      <div class="small-12 columns">
        <div class="panel"><%= photo.name%></div>
      </div>
    </div>

  <% } %>
  <!-- finish photo styles... -->




  <!-- photo info -->
  <% if (photo.exif){ %>
  <section class="info">
    <h2>Info</h2>
    <table>
      <% for (var key in photo.exif){ %>
      <% if (key!="Description"){ %>
      <tr>
        <td>
          <%= key %>
        </td>
        <td>
          <%= photo.exif[key] %>
        </td>
      </tr>
      <% } %>
      <% } %>
    </table>
  </section>
  <% } %>
  
  </div>
</div>
<% include ./layouts/footer %>