<form method="POST" action="/users/<%= user.id %>/address">
  <fieldset>
    
    <legend>User Details</legend>
    
    <label>
      <input type="text" name="userDemog[firstName]" placeholder="first name" value="<%= user.userDemog.firstName %>">
    </label>
    
    <label>
      <input type="text" name="userDemog[lastName]" placeholder="last name" value="<%= user.userDemog.lastName %>">
    </label>

    <label>
      <input type="text" name="userDemog[suffix]" placeholder="last name, including any suffixes" value="<%= user.userDemog.suffix %>">
    </label>

    <label>
      <input type="text" name="userDemog[address1]" placeholder="address line 1" value="<%= user.userDemog.address1 %>">
    </label>

    <label>
      <input type="text" name="userDemog[address2]" placeholder="address line 2" value="<%= user.userDemog.address2 %>">
    </label>

    <label>
      <input type="text" name="userDemog[city]" placeholder="city" value="<%= user.userDemog.city %>">
    </label>

    <label>
      <input type="text" name="userDemog[state]" placeholder="state e.g. CA" value="<%= user.userDemog.state %>">
    </label>

    <label>
      <input type="text" name="userDemog[zip]" placeholder="zip code, restrict to five-digit zip" value="<%= user.userDemog.zip %>">
    </label>

    <button class="expand">save</button>
  
  </fieldset>
</form>