<form method="POST" action="/userdemographics/<%= user.id %>">
  <fieldset>
    
    <legend>User Details</legend>
    
    <label>
      <input type="text" name="userDemographics[firstName]" placeholder="first name" value="<%= user.userDemographic.firstName %>">
    </label>
    
    <label>
      <input type="text" name="userDemographics[lastName]" placeholder="last name, including any suffixes" value="<%= user.userDemographic.lastName %>">
    </label>

    <label>
      <input type="text" name="userDemographics[address1]" placeholder="address line 1" value="<%= user.userDemographic.address1 %>">
    </label>

    <label>
      <input type="text" name="userDemographics[address2]" placeholder="address line 2" value="<%= user.userDemographic.address2 %>">
    </label>

    <label>
      <input type="text" name="userDemographics[city]" placeholder="city" value="<%= user.userDemographic.city %>">
    </label>

    <label>
      <input type="text" name="userDemographics[state]" placeholder="state e.g. CA" value="<%= user.userDemographic.state %>">
    </label>

    <label>
      <input type="text" name="userDemographics[zip]" placeholder="zip code, restrict to five-digit zip" value="<%= user.userDemographic.zip %>">
    </label>

    <button class="expand">save</button>
  
  </fieldset>
</form>