<!--views/users/profile.ejs-->
<% include ../header %>
<h1>users/profile</h1>
  <div>
    Your Username is: <%= user.email %>
    <div>
      <form action="/userdemographics/<%= user.id %>" method="POST">
        
        <input type="text" name="userDemographics[firstName]" placeholder="first name" value="<%= user.userDemographic.firstName %>">
        
        <input type="text" name="userDemographics[lastName]" placeholder="last name, including any suffixes" value="<%= user.userDemographic.lastName %>">
        
        <input type="text" name="userDemographics[address1]" placeholder="address line 1" value="<%= user.userDemographic.address1 %>">
        
        <input type="text" name="userDemographics[address2]" placeholder="address line 2" value="<%= user.userDemographic.address2 %>">
        
        <input type="text" name="userDemographics[city]" placeholder="city" value="<%= user.userDemographic.city %>">
        
        <input type="text" name="userDemographics[state]" placeholder="state e.g. CA" value="<%= user.userDemographic.state %>">
        
        <input type="text" name="userDemographics[zip]" placeholder="zip code, restrict to five-digit zip" value="<%= user.userDemographic.zip %>">
        
        <button>Save</button>
      
      </form>
    </div>
  </div>
<% include ../footer %>